<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://code.alibabatech.com/schema/dubbo
        	http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

     <!--消费方应用名，用于计算依赖关系，不是匹配条件，不要与提供方一样 -->
     <dubbo:application name="${dubbo.application.wap}" owner="${dubbo.application.owner}" logger="slf4j">
         <dubbo:parameter key="qos.enable" value="false" />
         <dubbo:parameter key="qos.accept.foreign.ip" value="false" />
         <dubbo:parameter key="dubbo" value="${dubbo.version}" />
         <!--<dubbo:parameter key="qos.port" value="22222" /> -->
     </dubbo:application>

     <!--zookeeper注册中心 -->
    <dubbo:registry protocol="${dubbo.monitor.protocol}" address="${zookeeper.address}" />

     <!-- 协议 -->
    <dubbo:protocol name="${dubbo.protocol.name}" port="${dubbo.protocol.port}" />

    <import resource="classpath*:/dubbo-service-reference.xml"/>
</beans>
